<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explode_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,686},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_4_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_5_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,230},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_6_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>explode_7_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,1110},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1254},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,1110},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1008},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,1204},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1054},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,1110},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,1004},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,800},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,1004},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,1204},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,744},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1110},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,638},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_4_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1204},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,532},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1156},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,426},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,906},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_5_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1204},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,320},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,952},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,1106},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,902},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,214},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,902},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_6_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1110},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,108},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,850},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,1106},{104,96}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,800},{104,100}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,2},{104,104}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{104,104}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,800},{104,100}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{104,100}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>jump_7_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,1110},{104,92}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{104,92}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>balls-ipad-hd.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dfafe5aabe4f1678599be1cb21991618:3145f57f36ce72013f3440e352693818:8f7aa81dd126126ef5eccb0565675272$</string>
		<key>textureFileName</key>
		<string>balls-ipad-hd.png</string>
	</dict>
</dict>
</plist>
