<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explode_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,574},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,674},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,574},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,574},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,574},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,674},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,674},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,628},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,628},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,570},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,628},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,628},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,624},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,624},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,516},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,624},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,574},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,574},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{56,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{56,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,462},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,408},{56,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>jump_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{56,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balls-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfafe5aabe4f1678599be1cb21991618:3145f57f36ce72013f3440e352693818:8f7aa81dd126126ef5eccb0565675272$</string>
            <key>textureFileName</key>
            <string>balls-hd.png</string>
        </dict>
    </dict>
</plist>
